NationalParks.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="https://ganesh-kolli.github.io/cse445-a4"
           xmlns="https://ganesh-kolli.github.io/cse445-a4"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">

  <xs:complexType name="AddressType">
    <xs:sequence>
      <xs:element name="Number" type="xs:int" />
      <xs:element name="Street" type="xs:string" />
      <xs:element name="City" type="xs:string" />
      <xs:element name="State" type="xs:string" />
      <xs:element name="Zip" type="xs:int" />
    </xs:sequence>
    <xs:attribute name="NearestAirport" type="xs:string" use="required" />
  </xs:complexType>

  <xs:complexType name="NationalParkType">
    <xs:sequence>
      <xs:element name="Name" type="xs:string" />
      <xs:element name="Phone" type="xs:string" minOccurs="1" maxOccurs="unbounded" />
      <xs:element name="Address" type="AddressType" />
    </xs:sequence>
    <xs:attribute name="Rating" type="xs:decimal" use="optional" />
  </xs:complexType>

  <xs:complexType name="NationalParksType">
    <xs:sequence>
      <xs:element name="NationalPark" type="NationalParkType" minOccurs="1" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:element name="NationalParks" type="NationalParksType" />

</xs:schema>
